[
    {
        "name": "${application_name}-Application",
        "image": "${ecr_url}:${image_tag}",
        "essential": true,
        "portMappings": [
            {
                "containerPort": 5000,
                "hostPort": 5000
            }
        ],
        "environment": [
            {
                "name": "VERSION",
                "value": "${image_tag}"
            }
        ]
    }
]


